<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title><?php echo $title; ?></title>
  <meta name="title" content="<?php echo $title; ?>">
  <meta name="description" content="<?php echo $description; ?>">
  <meta name="keywords" content="<?php echo $keywords; ?>">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/css/yui/reset-min.css" media="all">
  <link rel="stylesheet" type="text/css" href="/static/css/yui/base-min.css" media="all">
  <link rel="stylesheet" type="text/css" href="/static/css/yui/fonts-min.css" media="all">
  <link rel="stylesheet" type="text/css" href="/static/css/yui/grids-min.css" media="all">
  <link rel="stylesheet" type="text/css" href="/static/css/global.css">
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/global.js"></script>
</head>
<body>

  <div id="content">
    <?php echo $content; ?>
  </div>

  <div id="header">
    <div id="menu">
      <a href="#">Index</a> /
      <a href="#">Create post</a> /
    </div>
    <div id="copyright">Copyright &copy; 2009 <a href="http://phpdays.googlecode.com">phpDays</a></div>
  </div>

</body>
</html>