<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>{$page->title}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="title" content="{$page->title}">
    <meta name="description" content="{$page->description}">
    <meta name="keywords" content="{$page->keywords}">
    <meta http-equiv="content-language" content="{$url->lang}">
    <link rel="shortcut icon" href="http://{$url->host}/static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="http://{$url->host}/static/img/favicon.ico" type="image/x-icon">
    <!-- link rel="alternate" type="application/rss+xml" title="Новости сайта RSS" href="http://{$url->host}/rss/{$url->service}.xml" -->
    <link rel="stylesheet" type="text/css" href="/static/css/yui/reset-min.css" media="all">
    <link rel="stylesheet" type="text/css" href="/static/css/yui/base-min.css" media="all">
    <link rel="stylesheet" type="text/css" href="/static/css/yui/fonts-min.css" media="all">
    <link rel="stylesheet" type="text/css" href="/static/css/yui/grids-min.css" media="all">
    <link rel="stylesheet" type="text/css" href="/static/css/global.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery/include.js"></script>
    <script type="text/javascript" src="/static/js/jquery/goocorners.js"></script>
    <script type="text/javascript" src="/static/js/global.js"></script>
</head>
<body>

  <div id="content">
    {block name='dev_toolbar'}
    {$content}
  </div>

  <div id="left">
    {block name='languages'}
    {block name='logo'}
    {block name='user_info'}
    {block name='tag_top20'}
    {block name='ad_left'}
  </div>

  <div id="footer" class="bg rounded">
    <p class="copyright">
      Copyright &copy; 2009 <a href="http://danilchenko.pp.ua">Anton Danilchenko</a><br/>
      Copy text and graphical materials on other sites denied!<br/>
    </p>
    <p class="responsibility">
      Наш сайт не несет ответственности за содержимое авторских материалов.
    </p>
    <p class="counters">
      <img src="http://top100-images.rambler.ru/top100/banner-88x31-rambler-gray2.gif" />
      <img src="http://top100-images.rambler.ru/top100/banner-88x31-rambler-gray2.gif" />
    </p>
  </div>

</body>
</html>