<p>Eclipse PHP Development Tools (PDT) 2.0 is now available from the Eclipse.org download site and from the Zend/PDT Community site (includes Eclipse PDT and Zend Debugger which enables users to perform local and remote debugging).</p>
<p>The Eclipse PDT team would like to thank everyone who made this release possible. As always, our Eclipse PDT community has provided countless new features, bug fixes, documentation, etc. We'd also like to thank the Eclipse Dynamic Languages Toolkit team for cooperating and helping us with the new infrastructure.</p>
<p>Fully compliant with Eclipse standards, the new 2.0 release enables PHP developers to leverage a wide variety of Eclipse projects, such as Web Tools Project (WTP) and Dynamic Language Toolkit (DLTK), for faster and easier development. PDT 2.0 also offers strong support for Object-Oriented Programming (OOP) in PHP.</p>

<h2 class="changed">What's New in PDT 2.0?</h2>
<p class="changed">PDT 2.0 was designed based on principles different to those of Eclipse PDT 1.0. For example, different techniques were used to model workspace projects. PDT 2.0 now uses an indexing and caching mechanism for improved performance and experience with code assist and navigation. Moreover, since PHP provides enhanced Object-Oriented features like inheritance and polymorphism, PDT 2.0 provides enhanced features such as type hierarchy, override indicators and type navigation for programmers who utilize these language properties.</p>
<h2>Lighter and Faster</h2>
<p>As previously mentioned, PDT 2.0 is based on the robust Eclipse framework for caching and indexing language elements, utilizing the proven mechanism used by the Eclipse Dynamic Languages Toolkit project. In addition, PDT 2.0 has a reduced list of dependencies which includes only those features that are a "must have" for PHP developers (so no more unnecessary Java or J2EE components in the tool). Of course, Eclipse provides an easy way to add extra plug-ins as required.</p>
<h2>Type hierarchy</h2>
<p>The Type Hierarchy view is exceptionally useful for viewing and navigating OO PHP code. There are three presentation formats available through this view: the Type Hierarchy, the Supertype Hierarchy, and the Subtype Hierarchy. These three presentation formats revolve around a focal point type, indicated by the label decoration, which is the type on which the view was opened. When viewing classes, the view displays the class hierarchy from the object through to all of the class and subclasses. When viewing interfaces, the view displays all classes that implement the interface and their subtypes. When viewing supertypes, the view displays classes that are extended and interfaces that are implemented. When viewing subtypes, the view displays a class and its subclasses or an interface and the classes that implement it.</p>
{$content}

<h2>Comments (151). <a href="#">Add your comment</a></h2>
<p class="comment level1 border">
  <i class="">
    Good idea!<br/>
    I use it in my experiens.<br/>
    This very simple of use!
  </i>
  <b>
    By <a href="#">Anton Danilchenko</a>, 27 June 2009.
    <a href="#">Reply on comment</a>.
    Your vote: <a href="#">good</a> or <a href="#">bad</a>.
  </b>
</p>
<p class="comment level2 border">
  <i class="">
    Good idea!<br/>
    I use it in my experiens.<br/>
    This very simple of use!
  </i>
  <b>
    By <a href="#">Anton Danilchenko</a>, 27 June 2009.
    <a href="#">Reply on comment</a>.
    Your vote: <a href="#">good</a> or <a href="#">bad</a>.
  </b>
</p>
<p class="comment level3 border">
  <i class="">
    Good idea!<br/>
    I use it in my experiens.<br/>
    This very simple of use!
  </i>
  <b>
    By <a href="#">Anton Danilchenko</a>, 27 June 2009.
    <a href="#">Reply on comment</a>.
    Your vote: <a href="#">good</a> or <a href="#">bad</a>.
  </b>
</p>
<p class="comment level4 border">
  <i class="">
    Good idea!<br/>
    I use it in my experiens.<br/>
    This very simple of use!
  </i>
  <b>
    By <a href="#">Anton Danilchenko</a>, 27 June 2009.
    <a href="#">Reply on comment</a>.
    Your vote: <a href="#">good</a> or <a href="#">bad</a>.
  </b>
</p>
<p class="comment level3 border">
  <i class="">
    Good idea!<br/>
    I use it in my experiens.<br/>
    This very simple of use!
  </i>
  <b>
    By <a href="#">Anton Danilchenko</a>, 27 June 2009.
    <a href="#">Reply on comment</a>.
    Your vote: <a href="#">good</a> or <a href="#">bad</a>.
  </b>
</p>