@CHARSET "UTF-8";

/**
 * Global styles.
 */
body {
  font-family: Arial,sans-serif;
  font-size: 12px;
  margin: 0px 20px 0px 20px;
  padding: 0px;
  text-align: left;
}
img {
  border: none;
}
form {
  border-width: 0px;
  margin: 0px;
  padding: 0px;
}
.clear {
  clear: both;
}
/** Links */
a {
  color: #186adb;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.selected {
  background-color: #bcdeff;
  padding: 0 5pt 0 5pt;
}
a.selected:hover {
  /*background-color: transparent;*/
}
/** Info messages */
p.alert {
  padding: 5px;
  color: black;
  font-size: 10px;
}
p.alert.success {
  border: solid 1px #0dbc00;
  background-color: #81ff77;
}
p.alert.info {
  border: solid 1px #ffbc2b;
  background-color: #ffd988;
}
p.alert.error {
  border: solid 1px #ff381e;
  background-color: #ff9a8d;
}
/** Changed data highlight */
.changed {
  background-color: #f8facb;
}


/** Rounded corners */
a.rounded, .button {
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  display: -moz-inline-box;
  display: inline-block;
  overflow: visible; /* IE6 form button fix */
}
/** Color for backgrounds */
.bg {
  background-color: #e0f0ff;
}
/** Border */
.border {
  border: solid 1px #b3b3b3;
  padding: 10px;
}


#menu {
  height: 16px;
  font-weight: bold;
}
#menu>a {
  margin: 0 5px;
}
#menu>a.logo {
  margin: 0 15px;
  font-weight: normal;
}
#menu>.language {
  padding-top: 5px;
  display: none;
  position: absolute;
}
#menu>.language>a {
  display: block;
  padding: 0 15px;
}

/**
 * Page main content.
 */
#content {
  margin-right: 250px;
  padding: 10px 10px 0 10px;
  min-height: 700px;
}


/**
 * Page header titles.
 */
#content h1 {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 10px 0;
  color: #676767;
}
#content h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px 10px;
  padding: 3px 7px;
  color: #676767;
}


/**
 * Article short information (author, date, statistic).
 */
#content p.about {
  float: right;
  width: 280px;
  padding: 10px;
  margin: 0 0 10px 10px;
  font-size: 11px;
}


/**
 * Article comments.
 */
#content>p.comment {
  padding: 0;
  margin: 0 0 5px 0;
  font-size: 11px;
}
#content>p.comment>i {
  display: block;
  padding: 5px 10px 5px 10px;
}
#content>p.comment>b {
  display: block;
  padding: 5px 10px 5px 10px;
  color: #676767;
}
/** Comment levels */
#content>p.comment.level2 {
  margin-left: 30px;
}
#content>p.comment.level3 {
  margin-left: 60px;
}
#content>p.comment.level4 {
  margin-left: 90px;
}
#content>p.comment.level5 {
  margin-left: 120px;
}


/**
 * Left side column (logo, menu, adv).
 */
#sidebar {
  position: absolute;
  right: 20px;
  top: 50px;
  width: 230px;
}


/**
 * Block: left side blocks.
 */
#sidebar>p {
  padding: 10px;
}


/**
 * Block: language selection.
 */
#sidebar>.language {
  font-size: 10px;
  padding: 0 0 0 10px;
  margin-bottom: 5px;
}
#sidebar>.language>a {
  font-size: 10px;
}


/**
 * Block: site logotype.
 */
#sidebar>.logo {
  height: 80px;
  text-align: center;
  font-size: 11px;
}
#sidebar>.logo>a {
  display: block;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}


/**
 * Block: user info.
 */
#sidebar>.user {
}


/**
 * Page footer.
 */
#footer {
  padding: 10px;
  color: #676767;
  height: 50px;
}
#footer>p.copyright {
  width: 250px;
  float: left;
}
#footer>p.menu {
  width: 100px;
  float: left;
  font-weight: bold;
}
#footer>p.menu>a {
  display: block;
  font-weight: normal;
}
#footer>p.counters {
  float: right;
  margin-top: 10px;
}

/**
 * Blocks.
 */
.block_dev_toolbar {
}
.block_dev_toolbar>a {
  margin-right: 5px;
  font-size: 120%;
  font-weight: bold;
}
.block_dev_toolbar>a:hover {
  text-decoration: none;
  background-color: #f8facb;
}

.bug_list {
  height: 200px;
  overflow: auto;
}
.bug_list>table {
  width: 100%;
}
.bug_list>table td,
.bug_list>table th {
  border: none;
}
.bug_list>table td {
  border-bottom: dashed 1px gray;
}
.bug_list>table th.bug_checkbox {
  width: 20px;
}
.bug_list>table th.bug_component {
  width: 100px;
}
